{% extends 'core/base.html' %}

{% block title %}Terms of Service | {% endblock %}

{% block content %}
    <section class="hero is-medium is-light is-bold animate__animated animate__fadeIn">
        <div class="hero-body">
            <div class="container">
                <h1 class="title animate__animated animate__fadeIn">Terms of Service</h1>
                <h2 class="subtitle animate__animated animate__fadeIn">
                    Our Terms service
                </h2>
            </div>
        </div>
    </section>
{% endblock %}
